.bg-primary {
  background-color: $uni-color-primary;
}

.text-white {
  color: $uni-bg-color;
}

.text-error {
  color: $uni-color-error;
}

.text-grey {
  color: $uni-text-color-grey;
}

.text-sky {
  color: $uni-text-color-sky;
}

.text-red {
  color: $uni-text-color-red;
}

.bg-slate {
  background-color: $uni-bg-color-slate;
}

.bg-green {
  background-color: $uni-bg-color-green;
}

.bg-red {
  background-color: $uni-bg-color-red;
}

.box-shadow {
  box-shadow: 0 2px 8px 0 rgba(1, 81, 149, 0.15);
}
