.text-sm {
    font-size: $uni-font-size-sm;
}

.text-base {
    font-size: $uni-font-size-base;
}

.text-lg {
    font-size: $uni-font-size-lg;
}

.text-xl {
    font-size: $uni-font-size-xl;
}

.font-bold {
    font-weight: bold;
}

.font-medium {
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}